.footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  background-color: #262b2b;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  color: whitesmoke;
}
.copyright-text > a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 10px;
  font-weight: 900;
  font-size: 19px;
}

.copyright-text {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: silver;
}
h3 {
  font-weight: 900;
  letter-spacing: 2px;
}
.social-icons > p {
  font-size: 18px;
}
.img-logo {
  width: 100px;
  background: whitesmoke;
  border-radius: 50%;
  position: relative;
  top: 25px;
  right: 0px;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}
@keyframes bounce-in-right {
  0% {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(68px);
            transform: translateX(68px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(32px);
            transform: translateX(32px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  transform: translateY(-10px);
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 20px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 27px;
  display: inline-block;
  line-height: 54px;
  width: 54px;
  height: 54px;
  text-align: center;
  margin-right: 12px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  border-bottom: none;
}

a.facebook:hover {
  background-color: #3b5998;
  color: #fff;
}
.social-icons a.telegram:hover {
  background-color: #00aced;
  color: #fff;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
  color: #fff;
}
.social-icons a.gmail:hover {
  background-color: #cb1515;
  color: #fff;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
  .footer {
    flex-direction: column;
    align-items: stretch;
    font-size: 1.2rem;
  }
  .social-icons li {
    margin: 5px;
    margin-top: 20px;
  }
  .social-icons > p {
    margin-top: 30px;
  }
  .copyright-text {
    width: 150px;
    transform: translate(10px, 75px);
  }
  .img-logo {
    position: relative;
    top: -50px;
    left: 40px;
  }
  .footer > p {
    font-size: 1.3rem;
  }
  i {
    font-size: 1.4rem;
    padding: 5px;
  }
}
