.card {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
  .card {
    --background: #3c4043;
    --cardShadow: rgba(0, 0, 0, 0.28);
    --cardShadowHover: rgba(0, 0, 0, 0.16);
    --cardShadowActive: rgba(0, 0, 0, 0.55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
  }
}
.flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0px;
}
.card {
  position: relative;
  width: 400px;
  height: 540px;
  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  padding: 25px;
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow 0.5s, transform 0.5s;
  border-radius: 8px;
  margin: 40px;
}
p{
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
}
.card:hover {
  transform: translate(-2px, -4px);
  box-shadow: 16px 16px 0 var(--cardShadowHover);
}


.card > .description {
  line-height: 1.9em;
  font-size: 1.1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.card > .descriptionMain {
  line-height: 2.5em;
  font-size: 1.2rem;
  color: #3c4043;
}
.card > .title-card {
  font-size: 30px;
  color: #ff416c;
}

.card > .icon {
  font-size: 3em;
  text-align: center;
}

.iconStek{
  width: 30px;
  padding: 5px;
}

.image {
  width: 380px;
}
.rating {
  position: absolute;
  bottom: 30px;
}
.card > .rating {
  font-size: 1.5em;
  margin-bottom: 0.8em;
  color: var(--ratingColor);
  font-weight: bold;
  width: max-content;
}
.card > a:hover {
  color: #202125;
}
.link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: auto;
}

.link:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

@media (max-width: 768px) {
  .card {
    max-width: 200px;
    height: 500px;
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 25px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow 0.5s, transform 0.5s;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 40px;
  }
  .card > .icon {
    font-size: 3em;
    margin-bottom: 0.2em;
    text-align: center;
  }
  .image {
    width: 200px;
  }
  #portfolio div h1 {
    margin-left: 20px;
  }
}
/* Slideshow */
.slideshow-container {
  position: relative;
}

.image {
  width: 100%; 
  height: auto;
  display: block; 
}

.prev,
.next {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  padding: 10px 15px; 
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer; 
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}