.card {
  --background: #fff;
  --cardShadow: rgba(32, 33, 37, 0.1);
  --cardShadowHover: rgba(32, 33, 37, 0.06);
  --cardShadowActive: rgba(32, 33, 37, 0.55);
  --cardBorder: #dbdce0;
  --cardBorderActive: #1a73e8;
  --textColor: #202125;
  --linkColor: #1967d2;
  --ratingColor: #faab00;
}

@media (prefers-color-scheme: dark) {
  .card {
    --background: #3c4043;
    --cardShadow: rgba(0, 0, 0, 0.28);
    --cardShadowHover: rgba(0, 0, 0, 0.16);
    --cardShadowActive: rgba(0, 0, 0, 0.55);
    --cardBorder: #202125;
    --cardBorderActive: #8ab4f8;
    --textColor: #e9eaee;
    --linkColor: #8ab4f8;
  }
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.card {
  position: relative;
  width: 400px;
  /* height: 520px; */
  /* height: calc(100% - 60px); */

  background: var(--background);
  color: var(--textColor);
  border: 1px solid var(--cardBorder);
  box-shadow: 8px 8px 0 var(--cardShadow);
  transition: box-shadow 0.5s, transform 0.5s, height 1.3s ease;
  border-radius: 0 0 20px 20px ;
  margin: 40px;
}
.card-pading {
  padding: 25px;
}
p {
  padding-left: 15px;
  padding-right: 20px;
  margin-left: 0px;
  margin-right: 10px;
  text-align: center;
}

.textLeft{
  text-align: left;
  transform: translateY(-20px);
}

.card:hover {
  transform: translate(-1px, -1px);
  box-shadow: none
}

.card-pading > .description {
  line-height: 1.9em;
  font-size: 1.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 70px;
}
.card-pading > .descriptionMain {
  line-height: 2.5em;
  font-size: 1.2rem;
  color: #3c4043;
}
.card-pading > .title-card {
  font-size: 30px;
  color: #ff416c;
}

.card-pading > .icon {
  font-size: 3em;
  text-align: center;
}

.iconStek {
  width: 30px;
  padding: 5px;
}

.image {
  width: 380px;
  border-radius: 0px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  13px 13px 26px #c8c8c8,
               -13px -13px 26px #ffffff1e;
}
.rating {
  position: absolute;
  bottom: 30px;
}
.rating::before {
  content: "star";
  bottom: 30px;
  font-weight: 100;
  font-family: Arial;
  font-size: 1rem;
  padding-right: 5px;
}
.card-pading > .rating {
  font-size: 1.5em;
  margin-bottom: 0.8em;
  color: var(--ratingColor);
  font-weight: bold;
  width: max-content;
  position: absolute;
  bottom: -10px;
  right: 10px;
}
.card-pading > a:hover {
  color: #202125;
}
.link {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: auto;
}

.link:active {
  transform: translate(-2px, -4px);
  border: 2px solid var(--cardBorderActive);
  box-shadow: 4px 4px 0 var(--cardShadowActive);
}

/* Slideshow */
.slideshow-container {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
/* accordion */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 4px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 1.4s ease-in-out;
  transform: translateY(-20px);
}

.accordion:hover {
  background-color: #ccc;
}


@media (max-width: 768px) {
  .card {
    /* max-width: 340px; */
    width: calc(100% - 80px);
    background: var(--background);
    color: var(--textColor);
    border: 1px solid var(--cardBorder);
    padding: 0px;
    box-shadow: 8px 8px 0 var(--cardShadow);
    transition: box-shadow 0.5s, transform 0.5s;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
  }
  .card-pading {
    padding: 10px;
  }
  .card > .icon {
    font-size: 3em;
    margin-bottom: 0.2em;
    text-align: center;
  }
  .card-pading > .description {
    line-height: 1.9em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    height: 80px;
    margin-bottom: 70px;
    margin-top: 0;
  }
  .accordion {
    display: none;
  }
  .card-pading > .rating {
    display: none;
  }
  .image {
    width: 100%;
  }
  #portfolio div h1 {
    margin-left: 20px;
  }

}

